body {
  margin: 0;
  background-color: #181818;

  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}
/*Head*/

.top-menu {
  position: fixed;
  display: flex;
  z-index: 1;
  padding-left: 16px;
  top: 0;

  align-items: center;

  width: 100%;
  height: 56px;

  background-color: rgba(36, 35, 35, 0.9);
}

.left-menu {
  position: fixed;
  z-index: 0;
  background-color: rgba(36, 35, 35, 0.9);
  width: 230px;
  height: 100%;

  left: 0;
  bottom: 0;
}

.img-top-menu {
  width: 22px;
  height: 23px;

  cursor: pointer;

  margin: 0;
}

.img-top-menu:hover {
  border: 1px solid #ccc;
  border-radius: 50%;
}

/*Content*/

.content {
  display: block;
  margin-left: 240px;
  margin-top: 56px;
  padding: 15px;
}

.flex {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 0;

  justify-content: last baseline;
}

.block1 {
  display: flex;
  margin: 10px;

  width: 360px;

  font-size: 14px;
  font-weight: 500;

  flex-direction: column;
}

.block2 {
  background-color: white;

  width: 360px;
  height: 202px;
  position: relative;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

a {
  text-decoration: none;
  color: white;
}
