::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #636464;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #161616;
}
body {
  margin: 0;
  background-color: #181818;

  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}
/*Head*/

.top-menu {
  position: fixed;
  display: flex;
  z-index: 1;
  padding-left: 16px;
  top: 0;

  align-items: center;

  width: 100%;
  height: 56px;

  background-color: rgba(36, 35, 35, 0.9);
}

.btn-left-menu {
  height: 30px;
  width: 65px;
  position: relative;
  top: 0;
  transform: rotate(90deg);

  cursor: pointer;
}

.btn-left-menu:before {
  content: "\2AFC";
  font-size: 30px;
  color: #f9f0da;
}

form {
  position: relative;
  width: 600px;
  margin: 0 auto;
  background: #000000;
  border-radius: 10px;
}

input,
button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 30px;
  padding-left: 15px;

  font-size: 14px;
  color: white;
}
.search {
  height: 30px;
  width: 65px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  background-color: rgb(59, 59, 59);
}
.search:before {
  content: "\1F50D";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}

.left-menu {
  padding-top: 80px;
  padding-left: 20px;
  position: fixed;
  z-index: 0;
  background-color: rgba(36, 35, 35, 0.9);
  width: 230px;
  height: 100%;

  left: 0;
  bottom: 0;

  visibility: hidden;

  font-size: 16px;
  font-weight: 500;
}
.left-menu-link {
  padding: 10px;
}

.left-menu-link:hover {
  background-color: rgb(56, 55, 55);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
}

.selector2 {
  padding-top: 12px;
  border-top: 1px solid rgb(56, 55, 55);
  border-bottom: 1px solid rgb(56, 55, 55);
}

/*Content*/

.content {
  display: block;
  margin-left: 240px;
  margin-top: 56px;
  padding: 15px;
}

.flex {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 0;

  justify-content: last baseline;
}

.block1 {
  display: flex;
  margin: 10px;

  width: 360px;

  font-size: 14px;
  font-weight: 500;

  flex-direction: column;
}

.block2 {
  background-color: white;

  width: 360px;
  height: 202px;
  position: relative;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

a {
  text-decoration: none;
  color: white;
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 100px; /* Ширина подсказки */
  left: 0;
  top: 100px; /* Положение подсказки */
  background: #424242; /* Синий цвет фона */

  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */

  border-radius: 5px;
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 50px; /* Положение подсказки */
}

.show {
  visibility: visible;
}
